.chat-container {
  display: flex;
  flex-direction: column;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  justify-content: flex-end; /* Alinea los mensajes enviados a la derecha */
  margin-bottom: 10px;
}

.message.sent {
  justify-content: flex-end;
}

.message.received {
  justify-content: flex-start; /* Alinea los mensajes recibidos a la izquierda */
}

.sent-message {
  background-color: #dcf8c6; /* Color de fondo para mensajes enviados */
  border-radius: 10px;
  padding: 10px;
}

.received-message {
  background-color: #f0f0f0; /* Color de fondo para mensajes recibidos */
  border-radius: 10px;
  padding: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-container input {
  flex: 1;
  margin-right: 10px;
}
